<h1>Add Manager</h1>

<!-- Display warnings for validation rules -->
<ul>
    <li id="managerWarning">Manager ID must be 4 characters</li>
    <li id="nameWarning">Name must be > 5 characters</li>
    <li id="salaryWarning">Salary must be between 30,000 and 70,000</li>
</ul>

<form action="/managers/add" method="POST">
        <label>Manager ID</label>
        <input name="mgrid" id="managerID" maxlength="4" required></input>
        <br>
        <label>Name</label>
        <input name="name" id="Name" minlength="5"></input>
        <br>
        <label>Salary</label>
        <input name="salary" type = "number" id="Salary"></input>
        <input type = "submit"  id = "button" value="add" disabled></input>
        
    
</form>

<script> 
// JavaScript logic for form validation and disabling and enabling buttons
var button = document.getElementById('button');
//variables for toggling warnings from visible to invisible
var mWarning = document.getElementById('managerWarning');
var nWarning = document.getElementById('nameWarning');
var sWarning = document.getElementById('salaryWarning');

    //Manager ID length logic
    document.getElementById('managerID').addEventListener('input', function(){
        var input = this.value;
        var maxlength = parseInt(this.getAttribute('maxlength'), 10);
        console.log(input.length + " " + maxlength)

        if(input.length === maxlength){
            mWarning.style.visibility = "hidden";
            button.disabled = false;
        }
        else{
            mWarning.style.visibility = "visible";
            button.disabled = true;
        }
    });
    //Name length logic
    document.getElementById('Name').addEventListener('input', function(){
        var input = this.value;
        var minLength = parseInt(this.getAttribute('minlength'), 10);

        if(input.length > minLength){
            nWarning.style.visibility = "hidden";
            
        }
        else{
            nWarning.style.visibility = "visible";
            
        }

    });

    //Salary length logic
    document.getElementById('Salary').addEventListener('input', function(){
        var input = this.value;
        var minValue = 30000;
        var maxValue = 700000;

        if(input >= minValue && input <= maxValue){
            sWarning.style.visibility = "hidden";
            button.disabled = false;
        }
        else{
            sWarning.style.visibility = "visible";
            button.disabled = true;
        }

    });


</script>